:root {
    --kms-main-color: #34a6ec;
    --kms-main-color-dark: #0c5888;
    --kms-dark-color: #06263a;
    --kms-danger-color: #b65337;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--kms-main-color);
}

*:focus {
    outline: none;
}

html {
    width: 100%;
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

body {
    position: relative;
    width: 600px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--kms-main-color-dark);
    margin: 0;
}

.text-light {
    color: #f2f2f2 !important;
}

button {
    margin: 0 .2rem;
    cursor: pointer;
}

input:not([type="checkbox"]), select {
    display: block;
    width: 100%;
    padding: .6rem;
    color: var(--kms-main-color-dark);
    border: none;
    border-radius: 1.2rem;
    background-color: white;
    transition: box-shadow .4s;
    box-shadow: 0px 1px 2px #30303023;
    transition: background-color .2s;
}

input:focus {
    border: none;
    box-shadow: 0px 2px 4px #30303066;
}

input::placeholder {
    font-style: italic;
}

table input {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

button.btn {
    background: transparent;
    color: white;
    border: none;
    border-radius: .9rem;
    padding: .4rem .8rem;
    transition: all .4s;
}

button.btn.btn-primary {
    background-color: var(--kms-main-color);
}

button.btn.btn-primary:hover {
    background-color: var(--kms-main-color-dark);
}

button.btn.btn-secondary {
    color: var(--kms-main-color);
    background: transparent;
    border: 1px solid var(--kms-main-color);
}

button.btn.btn-secondary:hover {
    background-color: rgb(190, 190, 190);
}

button.btn.btn-small {
    padding: .2rem .4rem;
    border-radius: .8rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 1px 2px #30303023;
}

thead {
    background: #dddddd;
    border-bottom: 1px solid var(--kms-main-color);
}

th {
    color: var(--kms-dark-color);
    text-align: start;
    padding: .6rem .4rem;
    font-size: .8rem;
}

tr:nth-child(even) {
    background-color: #e9e9e9;
}

td:last-child {
    text-align: end;
}

th:first-child, td:first-child {
    border-right: 1px solid #e9e9e9;
}

.header {
    font-size: 0.6rem;
    background-color: var(--kms-dark-color);
    padding: 0 .4rem;
}

.icon svg {
    width: 1rem;
    height: 1rem;
    transition: all .2s;
}

button .icon:hover svg {
    transform: scale(1.1);
}

.shadow {
    box-shadow: 2px 2px 10px #3434349a;
}

.d-none {
    display: none;
}

.bg-danger {
    background: var(--kms-danger-color) !important;
    color: white !important;
}

.not-valid {
    border: 1px solid var(--kms-danger-color) !important;
    box-shadow: 0 0 4px var(--kms-danger-color) !important;
}

input.bg-danger::placeholder {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.hstack {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: .2rem .2rem !important;
}

.p-2 {
    padding: .4rem .4rem !important;
}

.mb-2 {
    margin-bottom: .4rem;
}

.mb-4 {
    margin-bottom: .8rem;
}

.mb-5 {
    margin-bottom: 1rem;
}

.me-1 {
    margin-right: .2rem;
}
 
.me-2 {
    margin-right: .4rem;
}

.ms-auto {
    margin-left: auto;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.right-top {
    top: .4rem;
    right: .2rem;
}